*{
    margin:0;
    padding:0;
}
section{
    background-image:url("image/image1.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container {
    width: 47vw;
    height: 40vw;
    background-image: url("image/image2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 
}